<script>
    {signals}
    var number=Signal("number", 0)
    var isEven=DerivedFrom("isEven", ()=>{
        return number.Value()%2==0 ? "even" : "odd"
    }, ["number"])
    var visible=Signal("visible", true)
    setInterval(()=>{
        visible.setValue(!visible.Value())
    }, 1000)
    function textchange(e) {
        number.setValue(Number(e.target.value))
    }
</script>

<input id="hi" placeholder="Enter a number" style="border: {number}px solid black;" value="{number}"></input>

<if "number.Value() % 2 == 1" dep:number>
    {number}
</if>

<script>
    document.getElementById("hi").addEventListener("input", (e)=>{
        number.setValue(e.target.value)
    })
</script>